* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: auto;
  padding: 0 20px;
  width: 1200px;
}

/* header =================================== */
header {
  background-color: wheat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  width: 1160px;
}

header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 10px;
}
.header_dndk .hienthi{
  margin: 0px 10px;
  
}
.header_search input:nth-child(1) {
  width: 330px;
  height: 23px;
}
.header_search input:nth-child(2) {
  height: 22px;
  font-weight: bold;
  background-color: rgba(239, 239, 239, 0.891);
}
.header_search input:hover {
  border-color: #2d06f5;
}

.header_search button:hover {
  color: #2d06f5;
}
.header_dndk a {
  margin-right: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
/* nav============================================ */
nav {
  background-color: rgb(8, 22, 20);
  height: 30px;
  margin-top: 1px;
  width: 1160px;
}
ul {
  list-style: none;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
ul li a {
  text-decoration: none;
  float: left;
  margin: 0px 20px;
  line-height: 30px;
  color: white;
}
ul li a:hover {
  color: aquamarine;
}
/* Slideshow================================================== */
.slideshow {
  margin-top: 5px;
  display: flex;
  width: 1160px;
}
.slideleft {
  width: 20%;
  height: 305px;
  margin-right: 5px;
  background-color: antiquewhite;
}
.slideleft img {
  width: 100%;
  height: 33%;
}
.slideleft .listdanhmuc {
  width: 100%;
  height: 20%;
  text-align: center;
  /* margin-top: 1px; */
  position: relative; /* Tạo vị trí tương đối cho phần tử cha */
}

.slideleft .listdanhmuc:hover {
  background-color: white;
}

.slideleft .listdanhmuc a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  position: absolute; /* Tạo vị trí tuyệt đối cho phần tử con */
  top: 50%; /* Đặt phần tử con ở giữa theo chiều dọc */
  left: 0; /* Đặt phần tử con ở góc trái của phần tử cha */
  transform: translateY(-50%); /* Dịch chuyển phần tử con lên trên một nửa chiều cao của nó */
  width: 100%; /* Đảm bảo liên kết chiếm toàn bộ chiều rộng của phần tử cha */
}


.slideshow-container {
  width: 60%;
  height: 300px;
}
.slideshow-container img {
  width: 100%;
  height: 305px;
}
.slideright {
  width: 20%;
  height: 300px;
  margin-left: 5px;
}
.slideright img {
  width: 100%;
  height: 33%;
}
/* end Slideshow */
/* top san pham ============================== */
.banner img {
  width: 100%;
  margin: 10px 0px;
  display: block;
}
.hot_top_sanpham {
  width: 100%;
  /* height: 500px; */
  background-color: rgb(203, 26, 26);
  border-radius: 20px;
}
article .top_sanpham {
  width: 100%;
  /* height: 400px; */
  /* background-color: #f06183; */
  display: flex;
  justify-content: center;
}
article .top_sanpham .top_sanpham_1 {
  width: 17%;
  height: 350px;
  text-align: center;
  background-color: #f1f1f1;
  margin: 10px 10px 20px 10px;
}
article .top_sanpham .top_sanpham_1 p a{
  text-decoration: none;
    color: black;
    font-size: 18px;
}
article .top_sanpham .top_sanpham_1 h5 a {
  text-decoration: none;
    color: black;
    font-size: 18px;
}
article .top_sanpham .top_sanpham_1 h5 {
  color: black;
    margin: 10px 0px;
    font-size: 20px;
}

article .top_sanpham .top_sanpham_1 p {
    margin: 10px 0px;
    font-size: 20px;

}

article .top_sanpham .top_sanpham_1 img {
  width: 100%;
  height: 200px;
}
.sanpham {
  margin-top: 10px;
  width: 1190px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
h1 {
  text-align: center;
  margin: 10px 0px;
  font-weight: bold;
  color: gray;
}
.sanpham .sanpham_home {
  width: 210px;
  height: 300px;

    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid gray;

}


.sanpham .sanpham_home p a{
  text-decoration: none;
    color: black;
    font-size: 18px;
}
.sanpham .sanpham_home h5 a {
  text-decoration: none;
    color: black;
    font-size: 18px;
}

.sanpham .sanpham_home h5 {
  color: black;
    margin: 10px 0px;
    font-size: 20px;
}

.sanpham .sanpham_home p {
    margin: 10px 0px;
    font-size: 20px;

}

.sanpham .sanpham_home img {
  width: 100%;
  height: 200px;
}

/* endtop san pham ============================== */
/* css form  */
.form_danhmuc {
  margin: auto;
  padding: 0 20px;
  max-width: 1200px;
}
.form_danhmuc h2 {
  margin: 20px 0px;
}
.form_danhmuc .form_text p {
  font-size: 20px;
}

.form_danhmuc .form_text input {
  width: 600px;
  height: 30px;
  margin: 10px 0px;
}
select {
  width: 600px;
  height: 30px;
}
.form_danhmuc .form_buttom input {
  width: 90px;
  height: 20px;
  margin: 10px 0px;
  border: 0px;
  font-weight: bold;
  background-color: gray;
}
.form_danhmuc .form_buttom input:hover {
  background-color: aquamarine;
}
/* table list== */
.table_list {
  margin: auto;
  padding: 0 20px;
  max-width: 1200px;
}
.table_list h2 {
  margin: 20px 0px;
}
.table_list input {
  width: 100px;
  height: 30px;
  margin: 5px 0px;
  border: 0px;
  font-weight: bold;
  background-color: gray;
}
.table_list input:hover {
  background-color: aquamarine;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
/* ==========================đăng ký đăng nhập */
.dangky_dangnhap {
  width: 100%;
  /* height: 500px; */
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  
}
/* trang chi tiết */
.sanpham_chitiet {
  width: 1160px;
  
  border: 1px solid gray;
  margin-top: 3px;
}
.sanpham_chitiet .sanpham_chitiet_ten {
  height: 30px;
  background-color: gray;
}
/* .sanpham_chitiet .sanpham_chitiet_hienthi{
  display: flex;
}

.sanpham_chitiet .sanpham_chitiet_hienthi p{
  
  margin: 10px;
  } */
  .sanpham_chitiet .sanpham_chitiet_hienthi_left img{
    width: 100%;
    /* margin: 10px; */
    }
.sanpham_chitiet_hienthi .sanpham_chitiet_hienthi_right .dungluong button{
  width: 150px;
  height: 50px;
  background-color: antiquewhite;
  border: none;
  margin: 10px 10px;
  
}
.sanpham_chitiet_hienthi {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto;
}
.sanpham_chitiet_hienthi .sanpham_chitiet_hienthi_right {
  width: 658px;
}

.sanpham_chitiet_hienthi .sanpham_chitiet_hienthi_left{
  width: 500px;
}
.sanpham_chitiet_hienthi .sanpham_chitiet_hienthi_right .soluong button{
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid #ececec;
  cursor: pointer;
}
.sanpham_chitiet_hienthi .sanpham_chitiet_hienthi_right .soluong button:hover{
  background-color: #ececec;
}
.sanpham_chitiet_hienthi .sanpham_chitiet_hienthi_right .soluong{
  display: flex;
  margin: 10px 10px;
}
.sanpham_chitiet_hienthi .sanpham_chitiet_hienthi_right .mota{

  margin: 0px 10px;
}
.sanpham_chitiet_hienthi .sanpham_chitiet_hienthi_right .mota p{
  font-size: 20px;
}
.sanpham_chitiet_hienthi .sanpham_chitiet_hienthi_right .mota h2 {
  text-align: center;
  margin: 10px 0px;
  font-weight: bold;
}
.sanpham_chitiet_hienthi .sanpham_chitiet_hienthi_right .soluong svg{
 color: #909090;
}
.sanpham_chitiet_hienthi .sanpham_chitiet_hienthi_right .soluong input{
  width: 60px;
  border: 1px solid #ececec;
  text-align: center;
}
/* chi tiết */
.buttom_chitiet {
  display: flex;
  justify-content: center; 
}
.buttom_chitiet button:nth-child(1){
  width: 400px;
  height: 50px;
  background-color: red;
  border: 0px;
  cursor: pointer;
  
}
.buttom_chitiet button:nth-child(2){
  width: 50px;
  height: 50px;
  border: 0px;
  margin-left: 10px;
  cursor: pointer;
}
.sanpham_chitiet_lienquan{
  height: 30px;
  background-color: gray;
}
.sanpham_chitiet_hienthilienquan{
  display: flex;
  width: 100%;


}
.sanpham_chitiet_hienthilienquan .sanphamlienquan{
margin: 0px 10px;
  width: 220px;
  height: 300px;
  text-align: center;
} 
.sanpham_chitiet_hienthilienquan .sanphamlienquan img{
  width: 200px;
  height: 200px;
} 
.sanpham_chitiet_hienthilienquan .sanphamlienquan a{
  text-decoration: none;
  color: black;
} 