* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: auto;
  padding: 0 20px;
  max-width: 1200px;
}

/* header =================================== */
header {
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 10px;
}
.header_dndk .hienthi{
  margin: 0px 10px;
  
}
.header_search input {
  width: 330px;
  height: 23px;
}
.header_search input:hover {
  border-color: #2d06f5;
}
.header_search button {
  height: 22px;
  font-weight: bold;
  background-color: rgba(239, 239, 239, 0.891);
}
.header_search button:hover {
  color: #2d06f5;
}
.header_dndk a {
  margin-right: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
/* nav============================================ */
nav {
  background-color: rgb(8, 22, 20);
  height: 30px;
  margin-top: 1px;
}
ul {
  list-style: none;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
ul li a {
  text-decoration: none;
  float: left;
  margin: 0px 20px;
  line-height: 30px;
  color: white;
}
ul li a:hover {
  color: aquamarine;
}
/* Slideshow================================================== */
.slideshow {
  margin-top: 5px;
  display: flex;
  max-width: 1200px;
}
.slideleft {
  width: 20%;
  height: 300px;
  margin-right: 5px;
}
.slideleft img {
  width: 100%;
  height: 33%;
}
.slideshow-container {
  width: 60%;
  height: 300px;
}
.slideshow-container img {
  width: 100%;
  height: 305px;
}
.slideright {
  width: 20%;
  height: 300px;
  margin-left: 5px;
}
.slideright img {
  width: 100%;
  height: 33%;
}
/* end Slideshow */
/* top san pham ============================== */
article img {
  width: 100%;
  margin-top: 10px;
  display: block;
}
.hot_top_sanpham {
  width: 100%;
  /* height: 500px; */
  background-color: rgb(203, 26, 26);
  border-radius: 20px;
}
article .top_sanpham {
  width: 100%;
  /* height: 400px; */
  /* background-color: #f06183; */
  display: flex;
  justify-content: center;
}
article .top_sanpham .top_sanpham_1 {
  width: 17%;
  height: 350px;
  background-color: #f1f1f1;
  margin: 10px 10px 20px 10px;
}
article .top_sanpham .top_sanpham_2 {
  width: 17%;
  margin: 10px 10px 20px 10px;

  height: 350px;
  background-color: #f1f1f1;
}
article .top_sanpham .top_sanpham_3 {
  width: 17%;
  margin: 10px 10px 20px 10px;

  height: 350px;
  background-color: #f1f1f1;
}
article .top_sanpham .top_sanpham_4 {
  width: 17%;
  margin: 10px 10px 20px 10px;

  height: 350px;
  background-color: #f1f1f1;
}
article .top_sanpham .top_sanpham_5 {
  width: 17%;
  margin: 10px 10px 20px 10px;

  height: 350px;
  background-color: #f1f1f1;
}
.sanpham {
  width: 100%;
  height: 1000px;
  background-color: aquamarine;
  margin: 10px 0px;
  border-radius: 20px;
}

/* endtop san pham ============================== */
/* css form  */
.form_danhmuc {
  margin: auto;
  padding: 0 20px;
  max-width: 1200px;
}
.form_danhmuc h2 {
  margin: 20px 0px;
}
.form_danhmuc .form_text p {
  font-size: 20px;
}

.form_danhmuc .form_text input {
  width: 600px;
  height: 30px;
  margin: 10px 0px;
}
select {
  width: 600px;
  height: 30px;
}
.form_danhmuc .form_buttom input {
  width: 90px;
  height: 20px;
  margin: 10px 0px;
  border: 0px;
  font-weight: bold;
  background-color: gray;
}
.form_danhmuc .form_buttom input:hover {
  background-color: aquamarine;
}
/* table list== */
.table_list {
  margin: auto;
  padding: 0 20px;
  max-width: 1200px;
}
.table_list h2 {
  margin: 20px 0px;
}
.table_list input {
  width: 100px;
  height: 30px;
  margin: 5px 0px;
  border: 0px;
  font-weight: bold;
  background-color: gray;
}
.table_list input:hover {
  background-color: aquamarine;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
/* ==========================đăng ký đăng nhập */
.dangky_dangnhap {
  width: 100%;
  /* height: 500px; */
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  
}
